.header {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

h2 {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
}

.panel-title {
    font-weight: bold;
    color: #222;
    text-align: center;
    padding: 0.5em;
}

.discrete {
    text-decoration: none;
    color: inherit;
}

.company {
    padding-top: 1em;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
}

.job {
    padding-top: 0.3em;
    text-align: center;
    color: #00aff0;
}

.date {
    padding-top: 0.3em;
    font-weight: bold;
    color: #aaa;
    text-align: center;
}

.description {
    padding-top: 1.5em;
    padding-bottom: 1em;
    font-family: 'Arimo', sans-serif;
}

strong {
    color: #00aff0;
}

.btn {
    color: #00aff0;
}

.panel {
    opacity: 0;
}